* {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
label,
input,
button,
a {
    font-family: 'Rubik', sans-serif;
    color: black;
}

a {
    color: #9796f0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #fbc7d499;
}

a:active {
    text-decoration: underline;
}

body {
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.pageWrapper {
    justify-content: center;
}

.banner {
    height: 20vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    align-content: center;
    vertical-align: middle;
}

.banner__title {
    text-align: center;
    font-size: 50px;
    margin-top: -20px;
}

.waveContainer {
    margin-top: -190px;
    z-index: 10;
    width: inherit;
}

.waveContainer2 {
    margin-top: -40px;
    z-index: 10;
    width: inherit;
}

.page {
    background: white;
}



.footer {
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding-bottom: 10px;
}

.footerLink {
    color: #fff;
}


.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 150px;
    width: 70vw;
    height: 100px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inLabel{
    margin: 10px;
    font-size: 30px;
}
.inText{
    height: 30px;
    padding: 15px;
    width: 350px;
    font-size: 20px;
    border: 3px solid #ffdde1;
    border-radius: 20px;
}
.inButton{
    height: 90px;
    font-size: 20px;
    width: 300px;
    border: 2px solid #ffdde1;
    border-radius: 20px;
    background: #fff;
    text-transform: uppercase;
}

.inButton:hover {
    background: rgba(ffdde1, 0);
    font-weight: 900;
    letter-spacing: 1px;
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }

  
.inButton {
    box-shadow: inset 000px 0px 0px 0px #ee9ca7;
  -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
  transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
}

.inButton::before {
    content: '';
    width: 100%;
    height: 0%;
    display: block;
    background: #ee9ca7;
    position: absolute;
    left: 0%;
    opacity: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
    transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
  
}

.inButton:hover::before {
    opacity: 1;
    height: 100%;
}

.inButton:hover {
    box-shadow: inset 00px 100px 0px 0px #ee9ca7;
    color: #ffffff;
}


.title{
    margin: 30px;
}

.cell{
    width: 80vw;
    height: 600px;
    display: inline-block;
    margin: 0 10px;
    border: 4px solid #ee9ca7;
    overflow: hidden;
    background: #ffdde1;
    border-radius: 20px;
}

.abc{
    text-align: center;
    align-items: center;
}


/* Chart */
